*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);
}

header img {
    height: 50px;
    margin-top: 10px;
}

#albums-container {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;

    background-color: #21252b;
}

.card {
  width: 250px;
  padding: 10px;
  margin: 10px;

  background-color: #000;

  color: rgba(255, 255, 255, .8);
}

.card-img-wrapper img {
    max-width: 100%;
}

.card .card-txt{
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 0 5px;
}

.card .card-txt span{
  padding: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
